<div class="content">
    <div class="container">
        <div class="table-responsive custom-table-responsive">
            <app-search (result)="result($event)"></app-search>
            <button class="btn_primary" [routerLink]="['/', { outlets:  { 'patient': ['add'] } } ]" routerLinkActive="active"> Add Patient</button>
            <table class="table custom-table">
                <thead>
                    <tr>
                        <th scope="col">File Number</th>
                        <th scope="col">Name</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Email</th>
                        <th scope="col">City</th>
                        <th scope="col">Birth Date</th>
                        <th scope="col"></th>
                        <th scope="col">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody *ngFor="let patient of patients">
                    <tr scope="row">
                        <td>{{patient.fileNo}}</td>
                        <td>{{patient.name}}</td>
                        <td>{{patient.phoneNumber}}</td>
                        <td>{{patient.city}}</td>
                        <td>{{patient.email}}</td>
                        <td> {{patient.birthdate}}</td>
                        <td> <a [routerLink]="['/details', patient.id]"> Details.. </a></td>
                        <th scope="row">
                            <!-- <a class='fa fa-edit' style="font-size: 140%" [routerLink]="['/update', patient.id]"></a> -->
                            <a class='fa fa-edit' style="font-size: 140%" [routerLink]="['/', { outlets: { 'update': patient.id }}]" routerLinkActive="active"></a>
                            <span class="spr"></span>
                            <a class='fa fa-trash' style="font-size: 130%;" (click)="deletePatient(patient.id)"></a>
                        </th>
                    </tr>


                    <tr class="spacer">
                        <td colspan="100">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ngb-pagination 
        [(page)]="currentPage" 
        [pageSize]="itemsPerPage" 
        [collectionSize]="totalCount!"
        [boundaryLinks]="true" [maxSize]="3" 
        [rotate]="true"
        (pageChange)="getPatients(currentPage)" 
        *ngIf="totalCount"
        class="d-flex justify-content-center"></ngb-pagination>
        <!-- manually -->
        <!-- <app-pagination [totalPages]="totalPages" (currentPage)="changePageNumber($event)"></app-pagination> -->

    </div>

</div>

<!-- <button (click)="navigateToModal()">click to navigate  add </button> -->
<!-- &nbsp;&nbsp;<a [routerLink]="['/', { outlets: { 'update': ['update'] }}]" routerLinkActive="active">Update</a><br>
&nbsp;&nbsp;<a [routerLink]="['/', { outlets:  { 'patient': ['add'] } } ]" routerLinkActive="active">Add</a><br> -->
<router-outlet></router-outlet>
<router-outlet name="update" (activate)="onActivate($event)"></router-outlet>
<router-outlet name="patient" (activate)="onActivate($event)"></router-outlet>
<app-test-from></app-test-from>