.card {
    border-radius: 10px;
    width: 80%;
    padding: 20px;
    margin: 0%;
    background-color: white;
    box-shadow: 15px 15px 0 0  #06283D;
}

.profile-pic {

    justify-content: left;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin: 12px 8px 12px 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);


}

::placeholder {
    color: black;
}

::-ms-input-placeholder {
    color: #9e9e9e;
}

.btn-success {
    border-radius: 20px;
    padding: 4px 40px;
    background-color: #222831;
    margin: 10%;
}

.options-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.options {
    font-size: 23px;
    color: #757575;
    cursor: pointer;
}

.options:hover {
    color: #00ADB5;
}


.reacts,
.reactspan {
    border: 0;
    font-size: 1rem;
    color: #06283D;
    background-color: transparent;
    border-radius: 3px;
    padding: 10px;
    width: auto;
    height: auto;
    margin: 0;
}


input {
    padding: 15px 20px;
    border-radius: 5px;
    box-sizing: border-box;
    color: #616161;
    border: 1px solid #DFF6FF;
    font-size: 16px;
    letter-spacing: 2px;
    height: 40px !important;
    width: 100%;
}

input:focus {
    box-shadow: none !important;
    border: 1px solid #231E39 !important;
    outline-width: 0 !important;
}