<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="card">
            <div class="row px-5 form-group">
                <input class="text-muted bg-light mt-4 mb-3" placeholder="name" [(ngModel)]="patient!.Name"/>
                <input class="text-muted bg-light mt-4 mb-3" placeholder="fileNo" [(ngModel)]="patient!.FileNo" type="number"/>
                <input class="text-muted bg-light mt-4 mb-3" placeholder="citizen id" [(ngModel)]="patient!.CitizenId"/>
                <input class="text-muted bg-light mt-4 mb-3" placeholder="birthdate" [(ngModel)]="patient!.Birthdate" type="date"/>
                <input class="text-muted bg-light mt-4 mb-3" placeholder="gender" [(ngModel)]="patient!.Gender" type="number" />
                <input class="text-muted bg-light mt-4 mb-3" placeholder="natinality" [(ngModel)]="patient!.Natinality"/>
                <input class="text-muted bg-light mt-4 mb-3" placeholder="phone number" [(ngModel)]="patient!.PhoneNumber"/>
                <input class="text-muted bg-light mt-4 mb-3" placeholder="email" [(ngModel)]="patient!.Email"/>
                <input class="text-muted bg-light mt-4 mb-3" placeholder="country" [(ngModel)]="patient!.Country"/>
                <input class="text-muted bg-light mt-4 mb-3" placeholder="city" [(ngModel)]="patient!.City"/>
                <input class="text-muted bg-light mt-4 mb-3" placeholder="street" [(ngModel)]="patient!.Street"/>
                <input class="text-muted bg-light mt-4 mb-3" placeholder="address1" [(ngModel)]="patient!.Address1"/>
                <input class="text-muted bg-light mt-4 mb-3" placeholder="address2" [(ngModel)]="patient!.Address2"/>
                <input class="text-muted bg-light mt-4 mb-3" placeholder="contact person" [(ngModel)]="patient!.ContactPerson"/>
                <input class="text-muted bg-light mt-4 mb-3" placeholder="contact relation" [(ngModel)]="patient!.ContactRelation"/>
                <input class="text-muted bg-light mt-4 mb-3" placeholder="contact phone" [(ngModel)]="patient!.ContactPhone"/>
                <input class="text-muted bg-light mt-4 mb-3" placeholder="first visit date" [(ngModel)]="patient!.FirstVisitDate" type="date"/>
            </div>
            <div class="btn btn-success ml-auto" (click)="AddPatient()" >{{AddBtn}}</div>
        </div>
    </div>
</div> 
