<div class="card shadow mb-4">
    <div class="card-body p-5">
        <h4 class="mb-4">Details..</h4>
        <ul>
            <li class="mb-2"><span style="font-weight: bold;">Id:</span> {{patient.id}}</li>
            <li class="mb-2"><span style="font-weight: bold;">Name:</span> {{patient.name}}</li>
            <li class="mb-2"><span style="font-weight: bold;">File Number:</span> {{patient.fileNo}}</li>
            <li class="mb-2"><span style="font-weight: bold;">Citizen Id:</span> {{patient.citizenId}}</li>
            <li class="mb-2"><span style="font-weight: bold;">Birth Date:</span> {{patient.birthdate}}</li>
            <li class="mb-2"><span style="font-weight: bold;">Gender:</span> {{patient.gender}}</li>
            <li class="mb-2"><span style="font-weight: bold;">Natinality:</span> {{patient.natinality}}</li>
            <li class="mb-2"><span style="font-weight: bold;">Phone Number:</span> {{patient.phoneNumber}}</li>
            <li class="mb-2"><span style="font-weight: bold;">Email:</span> {{patient.email}}</li>
            <li class="mb-2"><span style="font-weight: bold;">Country:</span> {{patient.country}}</li>
            <li class="mb-2"><span style="font-weight: bold;">City:</span> {{patient.city}}</li>
            <li class="mb-2"><span style="font-weight: bold;">Street:</span> {{patient.street}}</li>
            <li class="mb-2"><span style="font-weight: bold;">Address1:</span> {{patient.address1}}</li>
            <li class="mb-2"><span style="font-weight: bold;">Address2:</span> {{patient.address2}}</li>
            <li class="mb-2"><span style="font-weight: bold;">Contact Person:</span> {{patient.contactPerson}}</li>
            <li class="mb-2"><span style="font-weight: bold;">Contact Relation:</span> {{patient.contactRelation}}</li>
            <li class="mb-2"><span style="font-weight: bold;">Contact Phone:</span> {{patient.contactPhone}}</li>
            <li class="mb-2"><span style="font-weight: bold;">first Visit Date:</span> {{patient.firstVisitDate}}</li>
            <li class="mb-2"><span style="font-weight: bold;">Record Creation Date:</span> {{patient.recordCreationDate}}</li>
        </ul>
    </div>
    <button class="btn-success" (click)="onBack()">Back</button>
</div>